doctype html
html
  head
    title= "Teenagermagazin"
    script(src='/javascripts/index.js')
    style
      include index.css
      include ../public/stylesheets/base.css
  body
    block header
    block content
